.panel-heading
{
    text-align: center;
}

.panel-default
{
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .nav 
{
    display: block;
    width: 100%;
    height: 50px;
}

.navbar .nav > li 
{
    text-align: center;
    display: block;
    height: 100%;
    width:20%;
    float: left;
    font-weight: bold;
    
}

.navbar .nav > ul 
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    
    
}

.navbar .nav > li:hover 
{
 background-color: teal;
}
body
{
  background-image: url("../images/background.png");
  background-size: cover;
}



@media screen and (min-width: 991px) and (max-width: 1200px){
col-md-3 col-sm-6
{
    height: 300px;
    width: fit-content;
    margin-right: 20px;
}

.panel-default
{
    margin-left: 50px;

}

body
{
  background-image: url("../images/background.png");
  background-size: cover; 
}

}


@media screen and (min-width: 0px) and (max-width: 991px) {

.panel-default
{
    margin-left: 10px;
    margin-right: 10px;
    
}

/*#toTop
{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}*/

body
{
  background-image: url("../images/background.png");
  background-size: cover; 
}

}
  




