.nav-stacked
{
  display: none;
}

body
{
  background-image: url("../images/background.png")
}

.header
{
  background-image: url("../images/deco.png");
  right: 10px;
  width: 350px;
  height: 300px;
  top: 0.5px;
  position: absolute;
  
}

div.slides-frame 
{
  border: 3px solid #AAA;
  width: 550px;
  height: 400px;
  overflow: hidden;
  position: fixed;
  right: 50px;
  top: 350px;
  margin: 0 auto;
}

div.slides 
{
  -webkit-animation: slideUp 20s alternate infinite;
  -moz-animation: slideUp 20s alternate infinite;
  -o-animation: slideUp 20s alternate infinite;
  animation: slideUp 20s alternate infinite;
  position: relative;
}

div.slide 
{
  width: 550px;
  height: 475px;
  font-size: 0;
}

div.slide-1 
{
  background-image: url('../images/image5.jpg');
  background-size: cover;

}

div.slide-2 
{
  background-image: url('../images/image6.jpg');
  background-size: cover;
}

div.slide-3 
{
  background-image: url('../images/image7.jpg');
  background-size: cover;
}

div.slide-4 
{
    background-image: url('../images/image8.jpg');
    background-size: cover;
}


lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
@-moz-keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
@-o-keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
@keyframes slideUp{ 0% {bottom: 0 ;} 20% { bottom: 0; } 27% { bottom: 480px; } 47% { bottom: 480px; } 54% { bottom: 960px; } 74% { bottom: 960px; } 80% { bottom: 1440px; } 100% { bottom: 1440px; }}
[not-existing] {
  zoom: 1;
}

.header1
{
  text-align: center;
  color: teal;
}

.toi-logo
{
  width: 250px;
  position: absolute;
  bottom: 10px;
}

.waikato
{
  width: 220px;
  position: absolute;
  bottom: 7px;
  left: 300px;
}

.welcometitle
{
  margin-left: 10px;
  color: white;
}

.homeP
{
  margin-left: 10px;
  color: white;
  font-size: 17px;
}

.navbar .nav 
{
    display: block;
    width: 100%;
    height: 50px;
}

.navbar .nav > li 
{
    text-align: center;
    display: block;
    height: 100%;
    width:20%;
    float: left;
    font-weight: bold;
    
}

.navbar .nav > ul 
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    
    
}

.navbar .nav > li:hover 
{
 background-color: teal;
}

.col-md-6
{
   top: 200px;
}




@media screen and (min-width: 991px) and (max-width:1250px){
 
.welcometitle
{
  margin-top: 15px;
  color: white;
}

body
{
  background-image: url("../images/background.png")
}

.header
{
  background-image: url("../images/deco.png");
  right: 10px;
  width: 350px;
  height: 300px;
  top: 0.5px;
  position: absolute;
  
}

div.slides-frame 
{
display: none;
}

div.slides 
{
display: none;
}

.col-md-6
{
   top: 200px;
}

.Logo
{
  width: 350px;
}


}

@media screen and (max-width: 991px) {

.navbar
{
  display: none;
}

.nav-stacked
{
    display: block;
    width: 100%;
    }

.nav-stacked > li
{
    text-align: center;
    display: block;
    height: 100%;
    width:100%;
    float: left;
    font-weight: bold;
    
}

.nav-stacked > ul
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body
{
  background-image: url("../images/background.png")
}

.header
{
  background-image: url("../images/deco.png");
  width: 350px;
  height: 300px;
  top: 0.5px;
  position: absolute;
}

div.slides-frame 
{
display: none;
}

div.slides 
{
display: none;
}

.Logo
{
  width: 260px;
}

.toi-logo
{
  display: none;
}

.waikato
{
  display: none;
}

.homeP
{
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
}

.welcometitle
{
  height: 10px;
  text-align: center;
  color: white;
}

.col-md-6
{
   top: 200px;
}



}






