.col-xs-6 col-md-4 col-xs-12
{
    border: 4px solid #222;
    box-sizing: border-box;
    float:left;
    margin: 10px;
    margin-left: 20px;
} 

.panel-heading
{
    text-align: center;
}

body
{
  background-image: url("../images/background.png");
  background-size: cover;
}
    .panel-default
{
    margin-left: 15px;
    margin-right: 20px;
} 

@media screen and (max-width: 991px) {
}

@media screen and (min-width: 991px) and (max-width:1250px){

.panel-default
{
    margin-left: 10px;
    margin-right: 10px;
} 

body
{
  background-image: url("../images/background.png");
  background-size: cover;
}



}




